In [28]:
# imports
import pandas as pd
from functions import *
# reading the csv into a dataframe, requires data/d_t100_5c.csv
top100 = pd.read_csv('data/d_t100.csv', header=0, index_col=False)

In [29]:
Top100_UnitedStates = top100.query('region == "United States"').copy()

In [30]:
Top100_SouthAfrica = top100.query('region == "South Africa"').copy()

In [31]:
Top100_Sweden = top100.query('region == "Sweden"').copy()

In [32]:
Top100_Australia = top100.query('region == "Australia"').copy()

In [33]:
Top100_SouthKorea = top100.query('region == "South Korea"').copy()

In [34]:
Top100_Japan = top100.query('region == "Japan"').copy()

In [35]:
Top100_Mexico = top100.query('region == "Mexico"').copy()

In [36]:
Top100_UnitedStates.drop('region', axis=1, inplace=True)
Top100_SouthAfrica.drop('region', axis=1, inplace=True)
Top100_Sweden.drop('region', axis=1, inplace=True)
Top100_Australia.drop('region', axis=1, inplace=True)
Top100_SouthKorea.drop('region', axis=1, inplace=True)
Top100_Japan.drop('region', axis=1, inplace=True)
Top100_Mexico.drop('region', axis=1, inplace=True)

In [37]:
Top100_UnitedStates.reset_index(drop=True, inplace=True)
Top100_SouthAfrica.reset_index(drop=True, inplace=True)
Top100_Sweden.reset_index(drop=True, inplace=True)
Top100_Australia.reset_index(drop=True, inplace=True)
Top100_SouthKorea.reset_index(drop=True, inplace=True)
Top100_Japan.reset_index(drop=True, inplace=True)
Top100_Mexico.reset_index(drop=True, inplace=True)

In [38]:
display(Top100_UnitedStates.tail(3), Top100_SouthAfrica.tail(3), Top100_Sweden.tail(3), Top100_Australia.tail(3), Top100_SouthKorea.tail(3), Top100_Japan.tail(3), Top100_Mexico.tail(3))

,title,rank,date,artist,track_id,trend,streams
182089,Capital Letters,98,2018-01-31,"Hailee Steinfeld, BloodPop®",3towKHKVOXCCcL1fHv6xFO,MOVE_DOWN,293109.0
182090,That's What I Like,99,2018-01-31,Bruno Mars,0KKkJNfGyhkQ5aFogxQAPU,MOVE_DOWN,292967.0
182091,The Weekend,100,2018-01-31,SZA,6gU9OKjOE7ghfEd55oRO57,SAME_POSITION,292261.0

,title,rank,date,artist,track_id,trend,streams
124486,"Lemonade (feat. Gunna, Don Toliver & NAV)",98,2021-10-31,Internet Money,7hxHWCCAIIxFLCzvDgnQHX,MOVE_UP,4468.0
124487,Before You Go,99,2021-10-31,Lewis Capaldi,2gMXnyrvIjhVBUZwvLZDMP,MOVE_UP,4461.0
124488,When I See U,100,2021-10-31,Fantasia,4iuNZTcvT9diFySSzVsnVS,MOVE_UP,4436.0

,title,rank,date,artist,track_id,trend,streams
179189,Burning,98,2018-01-31,Sam Smith,2mb6YdoavL6db22p7XKJQZ,MOVE_UP,23534.0
179190,Galway Girl,99,2018-01-31,Ed Sheeran,0afhq8XCExXpqazXczTSve,MOVE_UP,23317.0
179191,MotorSport,100,2018-01-31,"Migos, Nicki Minaj, Cardi B",4wFjTWCunQFKtukqrNijEt,MOVE_DOWN,23077.0

,title,rank,date,artist,track_id,trend,streams
181087,Wild Thoughts (feat. Rihanna & Bryson Tiller),98,2018-01-31,DJ Khaled,1OAh8uOEOvTDqkKFsKksCi,MOVE_UP,37503.0
181088,Mr. Brightside,99,2018-01-31,The Killers,7oK9VyNzrYvRFo7nQEYkWN,MOVE_UP,37409.0
181089,Gucci Gang,100,2018-01-31,Lil Pump,43ZyHQITOjhciSUUNPVRHc,MOVE_DOWN,37164.0

,title,rank,date,artist,track_id,trend,streams
30197,Foolish Love,98,2021-10-31,M.O.M,7I7TTfKcDDAeSf6HPgbdPT,MOVE_DOWN,1808.0
30198,"Rainy day (Feat. ASH ISLAND, Skinny Brown)",99,2021-10-31,Pateko,4LxFRsy3TZjqAtAgIsjkez,MOVE_UP,1805.0
30199,Rain and You,100,2021-10-31,Lee Mujin,4ribiWWnI451QMRdOgByIP,MOVE_UP,1802.0

,title,rank,date,artist,track_id,trend,streams
179187,rockstar,98,2018-01-31,"Post Malone, 21 Savage",7wGoVu4Dady5GV0Sv4UIsx,MOVE_UP,6033.0
179188,Thunder,99,2018-01-31,Imagine Dragons,0tKcYR2II1VCQWT79i5NrW,MOVE_DOWN,6017.0
179189,First Love,100,2018-01-31,Hikaru Utada,3MmAtS5q33iKDcRvu6U5p3,MOVE_DOWN,5983.0

,title,rank,date,artist,track_id,trend,streams
179175,Locos,98,2018-01-31,León Larregui,3GSMdtJphymHEsR8K9jT5Q,MOVE_UP,67012.0
179176,All The Stars (with SZA),99,2018-01-31,Kendrick Lamar,12SJpYZEdj4kzWZ8FPFg4Y,MOVE_DOWN,66824.0
179177,Krippy Kush,100,2018-01-31,"Farruko, Bad Bunny, Rvssian",7FfpP3YZ6fOWMdxkIAtud9,MOVE_UP,66447.0

In [39]:
# exporting to csv
from os.path import expanduser
from pathlib import Path

def get_name(variable):
    for name in globals():
        if id(globals()[name]) == id(variable):
            return name
    for name in locals():
        if id(locals()[name]) == id(variable):
            return name
    return None

def save(df):
    """Saves a dataframe to the Downloads folder"""
    home = Path(expanduser("~"))
    path = home / "Downloads"
    df_name = get_name(df) + ".csv"
    file_name = path / df_name
    df.to_csv(file_name, index=False)
    print(file_name)

In [41]:
save(Top100_UnitedStates)
save(Top100_SouthAfrica)
save(Top100_Sweden)
save(Top100_Australia)
save(Top100_SouthKorea)
save(Top100_Japan)
save(Top100_Mexico)

/Users/inthesea/Downloads/Top100_UnitedStates.csv
/Users/inthesea/Downloads/Top100_SouthAfrica.csv
/Users/inthesea/Downloads/Top100_Sweden.csv
/Users/inthesea/Downloads/Top100_Australia.csv
/Users/inthesea/Downloads/Top100_SouthKorea.csv
/Users/inthesea/Downloads/Top100_Japan.csv
/Users/inthesea/Downloads/Top100_Mexico.csv