In [1]:
# imports
import pandas as pd

In [2]:
# reading the csv into a dataframe, requires data/chartsTop200_2017-2021.csv
d0 = pd.read_csv('data/chartsTop200_2017-2021.csv')

In [3]:
# 26.1 million rows, 9 columns
print(d0.info(), d0.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26173514 entries, 0 to 26173513
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   rank     int64
 2   date     object
 3   artist   object
 4   url      object
 5   region   object
 6   chart    object
 7   trend    object
 8   streams  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.8+ GB
None (26173514, 9)

In [4]:
# just a sneak peek
d0.head(2)

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0

In [5]:
# checking count of null values for each column manually
d0.streams.isnull().values.sum()

5851610

In [6]:
# alternative method 
d0.streams.isnull().value_counts()

streams
False    20321904
True      5851610
Name: count, dtype: int64

In [7]:
# checking if there are no Nan's in the region column
d0.region.notnull().all()

True

In [8]:
# function for count of null values for all columns
def count_nulls(data):
    n = []
    c = data.columns.to_list()
    for i in data.columns:
        n.append(data[i].isnull().values.sum())
    nulls = pd.DataFrame({'name': c, 'count': n})
    return nulls

In [9]:
# count of null values for all columns
count_nulls(d0)

      name    count
0    title       11
1     rank        0
2     date        0
3   artist       18
4      url        0
5   region        0
6    chart        0
7    trend        0
8  streams  5851610

In [10]:
# check all null values of the title column
d0.query('title.isnull()')

,title,rank,date,artist,url,region,chart,trend,streams
7305002,NaN,120,2019-06-24,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,NEW_ENTRY,11942.0
7401555,NaN,167,2019-06-25,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,10310.0
7479161,NaN,128,2019-06-26,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_UP,11620.0
7563494,NaN,164,2019-06-27,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,10229.0
7670140,NaN,174,2019-06-28,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,9348.0
7772268,NaN,188,2019-06-29,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,9808.0
7879888,NaN,169,2019-06-30,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_UP,10900.0
14391788,NaN,38,2019-07-15,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,NEW_ENTRY,NaN
14481594,NaN,48,2019-07-16,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_DOWN,NaN
14768101,NaN,46,2019-07-17,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_UP,NaN
14773425,NaN,48,2019-07-18,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_DOWN,NaN

In [11]:
# getting the url of the song with the missing title
d0[d0['url'].str.contains('4cP6KmNvTFkLHZo')].url.head(1)

7305002    https://open.spotify.com/track/4cP6KmNvTFkLHZo...
Name: url, dtype: object

In [12]:
# total occurrence of 'Nissy' artist in the database
d0.query('artist == "Nissy"').artist.count()

974

In [13]:
# giving a title to the song with the empty title
d0.fillna(value={"title": "No Title"}, inplace=True)
d0.query('title == "No Title"').head(20)

,title,rank,date,artist,url,region,chart,trend,streams
7305002,No Title,120,2019-06-24,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,NEW_ENTRY,11942.0
7401555,No Title,167,2019-06-25,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,10310.0
7479161,No Title,128,2019-06-26,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_UP,11620.0
7563494,No Title,164,2019-06-27,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,10229.0
7670140,No Title,174,2019-06-28,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,9348.0
7772268,No Title,188,2019-06-29,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_DOWN,9808.0
7879888,No Title,169,2019-06-30,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,top200,MOVE_UP,10900.0
14391788,No Title,38,2019-07-15,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,NEW_ENTRY,NaN
14481594,No Title,48,2019-07-16,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_DOWN,NaN
14768101,No Title,46,2019-07-17,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_UP,NaN
14773425,No Title,48,2019-07-18,Nissy,https://open.spotify.com/track/4cP6KmNvTFkLHZo...,Japan,viral50,MOVE_DOWN,NaN

In [14]:
# rows with Nan value in the artist column
d0.query('artist.isnull()').head(20)

,title,rank,date,artist,url,region,chart,trend,streams
20596664,NO GOOD,10,2020-07-13,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,NEW_ENTRY,NaN
20616457,NO GOOD,10,2020-07-14,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20640094,NO GOOD,10,2020-07-15,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20661724,NO GOOD,10,2020-07-16,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20677645,NO GOOD,10,2020-07-17,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20705363,NO GOOD,10,2020-07-18,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20726697,NO GOOD,10,2020-07-19,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20748638,NO GOOD,13,2020-07-20,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20788975,NO GOOD,14,2020-07-21,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20833982,NO GOOD,19,2020-07-22,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20865824,NO GOOD,23,2020-07-23,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20887012,NO GOOD,20,2020-07-24,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_UP,NaN
20903930,NO GOOD,21,2020-07-25,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20932541,NO GOOD,24,2020-07-26,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20960407,NO GOOD,36,2020-07-27,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20992837,NO GOOD,43,2020-07-28,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
21026109,NO GOOD,40,2020-07-29,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_UP,NaN
21057585,NO GOOD,46,2020-07-30,NaN,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN

In [15]:
# gettng the url
d0.query('artist.isnull()').url.head(1)

20596664    https://open.spotify.com/track/4Qnz8tARYhUtDNe...
Name: url, dtype: object

In [16]:
# no other songs with the same title
d0.query('title == "NO GOOD" and not artist.isnull()')['rank'].count().sum()

0

In [17]:
# found the song online, the artist is called N/A
d0.fillna(value={"artist": "N/A"}, inplace=True) 
d0.query('artist == "N/A"').head(20)

,title,rank,date,artist,url,region,chart,trend,streams
20596664,NO GOOD,10,2020-07-13,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,NEW_ENTRY,NaN
20616457,NO GOOD,10,2020-07-14,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20640094,NO GOOD,10,2020-07-15,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20661724,NO GOOD,10,2020-07-16,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20677645,NO GOOD,10,2020-07-17,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20705363,NO GOOD,10,2020-07-18,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20726697,NO GOOD,10,2020-07-19,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,SAME_POSITION,NaN
20748638,NO GOOD,13,2020-07-20,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20788975,NO GOOD,14,2020-07-21,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20833982,NO GOOD,19,2020-07-22,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20865824,NO GOOD,23,2020-07-23,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20887012,NO GOOD,20,2020-07-24,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_UP,NaN
20903930,NO GOOD,21,2020-07-25,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20932541,NO GOOD,24,2020-07-26,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20960407,NO GOOD,36,2020-07-27,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
20992837,NO GOOD,43,2020-07-28,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN
21026109,NO GOOD,40,2020-07-29,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_UP,NaN
21057585,NO GOOD,46,2020-07-30,N/A,https://open.spotify.com/track/4Qnz8tARYhUtDNe...,Japan,viral50,MOVE_DOWN,NaN

In [18]:
# count of null values for all columns
count_nulls(d0)

      name    count
0    title        0
1     rank        0
2     date        0
3   artist        0
4      url        0
5   region        0
6    chart        0
7    trend        0
8  streams  5851610

In [19]:
# count total url values vs url values containing 'https://open.spotify.com/track/', all url rows contain the exact string
count1 = d0.url.count()
mask = d0['url'].str.contains('https://open.spotify.com/track/')
count2 = d0[mask]['url'].count()
print(count1, count2)

26173514 26173514

In [20]:
# double checking the inverted mask is 0 url rows
d0[~mask]['url'].count()

0

In [21]:
# double checking the string url length is always 53
d1 = d0.copy()
d1['url_length'] = d1.url.str.len()
d1.query('url_length != 53 and not url_length > 53 and not url_length < 53')['url_length'].count()

0

In [22]:
# shortening the url to the track id
d0['url'].replace('https://open.spotify.com/track/', '', regex=True, inplace=True)
d0.head(3)

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,6mICuAdrwEjh6Y6lroV2Kg,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,7DM4BPaS7uofFul3ywMe46,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,3AEZUABDXNtecAOSC1qTfo,Argentina,top200,MOVE_DOWN,210943.0

In [23]:
# rename the url column to track_id
d0.rename(columns={'url':'track_id'}, inplace=True)
d0.head(1)

,title,rank,date,artist,track_id,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,6mICuAdrwEjh6Y6lroV2Kg,Argentina,top200,SAME_POSITION,253019.0

In [24]:
# creating 'top200' dataframe
d_t200 = d0.query('chart == "top200"')
d_t200.count()

title       20321904
rank        20321904
date        20321904
artist      20321904
track_id    20321904
region      20321904
chart       20321904
trend       20321904
streams     20321904
dtype: int64

In [25]:
# creating 'viral50' dataframe
d_v50 = d0.query('chart == "viral50"')
d_v50.count()

title       5851610
rank        5851610
date        5851610
artist      5851610
track_id    5851610
region      5851610
chart       5851610
trend       5851610
streams           0
dtype: int64

In [26]:
# double checking total of rows
total_count = d0['chart'].count()
v50_count = d_v50['chart'].count() 
t200_count = d_t200['chart'].count()
sum_divided = v50_count + t200_count
print(sum_divided, total_count)

26173514 26173514

In [27]:
# remove chart column in new dataframes, also the streams column in the viral 50
d_t200_final = d_t200.drop('chart', axis=1)
d_v50_final = d_v50.drop(['chart', 'streams'], axis=1)

In [28]:
# creating top 100 international charts
d_t100 = d_t200_final.query('rank <= 100')

In [29]:
# creating top 100 germany charts
d_t100_de = d_t100.query('region == "Germany"')

In [30]:
# removing the region in new top 100 germany charts
d_t100_de_x = d_t100_de.drop('region', axis=1)

In [31]:
# unique songs in the viral top 50 charts
d_v50_final.query('region == "Germany"').nunique()

title       7156
rank          52
date        1817
artist      5694
track_id    7876
region         1
trend          4
dtype: int64

In [32]:
d_t100.region.nunique()

69

In [33]:
# list of countries included in the daily top 100 charts
d_t100.region.unique()

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Colombia',
       'Bolivia', 'Brazil', 'Bulgaria', 'Canada', 'Denmark', 'Chile',
       'Costa Rica', 'Czech Republic', 'Finland', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Estonia', 'France', 'Germany', 'Global',
       'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'Indonesia', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Lithuania', 'Malaysia', 'Luxembourg', 'Mexico', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Singapore', 'Spain',
       'Slovakia', 'Sweden', 'Taiwan', 'Switzerland', 'Turkey',
       'United Kingdom', 'United States', 'Uruguay', 'Thailand', 'Egypt',
       'India', 'Israel', 'Morocco', 'Romania', 'Saudi Arabia',
       'South Africa', 'United Arab Emirates', 'Vietnam', 'Ukraine',
       'Russia', 'South Korea'], dtype=object)

In [34]:
# create dataframe with 5 countries South Africa, USA, South Korea, Mexico, Germany
d_t100_5c = d_t100.query('region == "Germany" or region == "United States" or region == "South Korea" or region == "Mexico" or region == "South Africa"')

In [35]:
d_t100_5c.head()

,title,rank,date,artist,track_id,region,trend,streams
3033,Rockabye (feat. Sean Paul & Anne-Marie),1,2017-01-01,Clean Bandit,5knuzwU65gJK7IF5yJsuaW,Germany,SAME_POSITION,229398.0
3034,Alone,2,2017-01-01,Alan Walker,0JiVRyTJcJnmlwCZ854K4p,Germany,MOVE_UP,192026.0
3035,Chöre,3,2017-01-01,Mark Forster,2nYpbaLykC2cjU8Yt5KF1v,Germany,MOVE_DOWN,181869.0
3036,Starboy,4,2017-01-01,"The Weeknd, Daft Punk",5aAx2yezTd8zXrkmtKl66Z,Germany,MOVE_UP,176328.0
3037,Closer,5,2017-01-01,"The Chainsmokers, Halsey",7BKLCZ1jbUBVqRi2FVlTVw,Germany,MOVE_UP,170745.0

In [36]:
# total row count for 6 final dataframes
c1 = d_v50_final['track_id'].count()
c2 = d_t200_final['track_id'].count()
c3 = d_t100['track_id'].count()
c4 = d_t100_5c['track_id'].count()
c5 = d_t100_de['track_id'].count()
c6 = d_t100_de_x['track_id'].count()
df_rows = pd.DataFrame({'name':['d_v50', 'd_t200', 'd_t100', 'd_t100_5c', 'd_t100_de', 'd_t100_de_x'], 'count':[c1, c2, c3, c4, c5, c6]})
df_rows

          name     count
0        d_v50   5851610
1       d_t200  20321904
2       d_t100  10739635
3    d_t100_5c    694683
4    d_t100_de    178724
5  d_t100_de_x    178724

In [37]:
d_v50_final.reset_index(drop=True, inplace=True)
d_v50_final.tail()

,title,rank,date,artist,track_id,region,trend
5851605,BYE,46,2021-07-31,Jaden,3OUyyDN7EZrL7i0Sbi5SVd,Vietnam,MOVE_UP
5851606,Pillars,47,2021-07-31,My Anh,6eky30oFiQbHUATDlOCGys,Vietnam,NEW_ENTRY
5851607,Gái Độc Thân,48,2021-07-31,Tlinh,2klsSb2iTfgDh95Ak9uWY2,Vietnam,MOVE_DOWN
5851608,Renegade (feat. Taylor Swift),49,2021-07-31,Big Red Machine,1aU1wpYBSpP0M6IiihY5Ue,Vietnam,MOVE_DOWN
5851609,Letter to Jarad,50,2021-07-31,"LRN Slime, Shiloh Dynasty",508QhA2SncMbh5CnuxkvUc,Vietnam,MOVE_DOWN

In [38]:
d_t200_final.reset_index(drop=True, inplace=True)
d_t200_final.tail()

,title,rank,date,artist,track_id,region,trend,streams
20321899,Ojalá (feat. Darell),196,2018-01-31,"De La Ghetto, Almighty, Bryant Myers",3EMDvnVpQd9RZJvKSpOhUm,Uruguay,MOVE_DOWN,1178.0
20321900,Lo Que Pasa en la Noche,197,2018-01-31,Mano Arriba,2eOleVJlGvBE027wpnYt2H,Uruguay,NEW_ENTRY,1178.0
20321901,El Equivocado,198,2018-01-31,Mano Arriba,5vy1C7DD9xJ5fRB3KqV6Kq,Uruguay,MOVE_DOWN,1170.0
20321902,Que Fui Tu Amante,199,2018-01-31,El Gucci y Su Banda,1fmiCxwEbZFIszITXsV65M,Uruguay,MOVE_DOWN,1165.0
20321903,Solo,200,2018-01-31,"Amenazzy, Lary Over",2rrJfOphzn4uQCK9X0x6R6,Uruguay,NEW_ENTRY,1162.0

In [39]:
d_t100.reset_index(drop=True, inplace=True)
d_t100.tail()

,title,rank,date,artist,track_id,region,trend,streams
10739630,Cuando Se Pone a Bailar,96,2018-01-31,Rombai,1MpKZi1zTXpERKwxmOu1PH,Uruguay,MOVE_UP,2007.0
10739631,Otra vez (feat. J Balvin),97,2018-01-31,Zion & Lennox,3QwBODjSEzelZyVjxPOHdq,Uruguay,MOVE_DOWN,1991.0
10739632,La Rompe Corazones,98,2018-01-31,"Daddy Yankee, Ozuna",4okba5wu9mMLXx79DXLKi3,Uruguay,MOVE_DOWN,1988.0
10739633,rockstar,99,2018-01-31,"Post Malone, 21 Savage",7wGoVu4Dady5GV0Sv4UIsx,Uruguay,MOVE_UP,1965.0
10739634,Una y Otra Vez,100,2018-01-31,Rombai,3VSt7R9LHTomKGP1RhkvuT,Uruguay,MOVE_UP,1958.0

In [40]:
d_t100_5c.reset_index(drop=True, inplace=True)
d_t100_5c.tail()

,title,rank,date,artist,track_id,region,trend,streams
694678,You Make It Easy,96,2018-01-31,Jason Aldean,2ZxTjs4EdJl4Y9YByIiNoo,United States,MOVE_UP,295550.0
694679,Marry Me,97,2018-01-31,Thomas Rhett,0OWZFobGSIW9GrSlQ9C5pc,United States,MOVE_UP,294405.0
694680,Capital Letters,98,2018-01-31,"Hailee Steinfeld, BloodPop®",3towKHKVOXCCcL1fHv6xFO,United States,MOVE_DOWN,293109.0
694681,That's What I Like,99,2018-01-31,Bruno Mars,0KKkJNfGyhkQ5aFogxQAPU,United States,MOVE_DOWN,292967.0
694682,The Weekend,100,2018-01-31,SZA,6gU9OKjOE7ghfEd55oRO57,United States,SAME_POSITION,292261.0

In [41]:
d_t100_de.reset_index(drop=True, inplace=True)
d_t100_de.tail()

,title,rank,date,artist,track_id,region,trend,streams
178719,Von Party zu Party,96,2018-01-31,SXTN,4h6UIDvGWTYZvu4BLf2GpO,Germany,MOVE_DOWN,62294.0
178720,XO Tour Llif3,97,2018-01-31,Lil Uzi Vert,7GX5flRQZVHRAGd6B4TmDO,Germany,MOVE_DOWN,61681.0
178721,I Fall Apart,98,2018-01-31,Post Malone,75ZvA4QfFiZvzhj2xkaWAh,Germany,MOVE_UP,60691.0
178722,Gucci Gang,99,2018-01-31,Lil Pump,43ZyHQITOjhciSUUNPVRHc,Germany,SAME_POSITION,59454.0
178723,Handschellen (feat. Ardian Bujupi),100,2018-01-31,Payy,4dL59MdDzLINk1Sq04y9Cf,Germany,MOVE_UP,58932.0

In [42]:
d_t100_de_x.reset_index(drop=True, inplace=True)
d_t100_de_x.tail()

,title,rank,date,artist,track_id,trend,streams
178719,Von Party zu Party,96,2018-01-31,SXTN,4h6UIDvGWTYZvu4BLf2GpO,MOVE_DOWN,62294.0
178720,XO Tour Llif3,97,2018-01-31,Lil Uzi Vert,7GX5flRQZVHRAGd6B4TmDO,MOVE_DOWN,61681.0
178721,I Fall Apart,98,2018-01-31,Post Malone,75ZvA4QfFiZvzhj2xkaWAh,MOVE_UP,60691.0
178722,Gucci Gang,99,2018-01-31,Lil Pump,43ZyHQITOjhciSUUNPVRHc,SAME_POSITION,59454.0
178723,Handschellen (feat. Ardian Bujupi),100,2018-01-31,Payy,4dL59MdDzLINk1Sq04y9Cf,MOVE_UP,58932.0

Work with 5 dataframes in code cells above, below only exporting to .csv

In [43]:
# exporting to csv >>> d_v50_final, d_t200_final, d_t100, d_t100_de, d_t100_de_x
from os.path import expanduser
from pathlib import Path

def get_name(variable):
    for name in globals():
        if id(globals()[name]) == id(variable):
            return name
    for name in locals():
        if id(locals()[name]) == id(variable):
            return name
    return None

def save(df):
    """Saves a dataframe to the Downloads folder"""
    home = Path(expanduser("~"))
    path = home / "Downloads"
    df_name = get_name(df) + ".csv"
    file_name = path / df_name
    df.to_csv(file_name, index=False)
    print(file_name)

In [43]:
save(d_t100_de)
save(d_t100)
save(d_t200_final)
save(d_v50_final)
save(d_t100_de_x)

/Users/inthesea/Downloads/d_t100_de.csv
/Users/inthesea/Downloads/d_t100.csv
/Users/inthesea/Downloads/d_t200_final.csv
/Users/inthesea/Downloads/d_v50_final.csv
/Users/inthesea/Downloads/d_t100_de_x.csv

In [44]:
save(d_t100_5c)

/Users/inthesea/Downloads/d_t100_5c.csv